@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .h1 {
    @apply text-[35px] xl:text-[55px] lg:text-[45px] leading-[1.1] font-semibold;
  }

  .h2 {
    @apply text-[28px] xl:text-[48px] lg:text-[38px] leading-[1.1] font-semibold;
  }

  .h3 {
    @apply text-[18px] xl:text-[28px] lg:text-[20px] leading-[1.1] font-semibold;
  }
  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}
